body {
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
}

.hud .controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.btn:active, .btn:focus {
    outline: none !important;
}

.btn-default-outline {
    background-color: rgba(0, 0, 0, 0.8);
}